/* common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Sora", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* header starts */

/* nav starts */

nav {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.website-name {
  width: 50%;
}
.website-name-h3 {
  color: #3a3a3a;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-bar {
  width: 50%;
}

.nav-bar-container {
  display: flex;
  gap: 34px;
  list-style: none;
  justify-content: end;
}

.nav-bar-container li {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
}

/* banner starts */

.banner {
  max-width: 1250px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  margin-top: 80px;
}
.banner-content {
  width: 50%;
}
.banner-content-h2 {
  color: #3a3a3a;
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 70px;
  margin-top: 100px;
}
.banner-content-p {
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
  margin: 16px 0px;
  width: 80%;
}
.banner-content-btn {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 24px;
  border-radius: 41px;
  background: #e02c6d;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border: none;
}

.banner-img {
  width: 50%;
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: center;
}

.banner-img-main {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

/* main starts */

/* sponsor starts */
.sponsor {
  margin-top: 100px;
  margin-bottom: 100px;
}
.sponsor-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1250px;
  margin: 0 auto;
}

/* popular collection starts*/

.collection {
  max-width: 1150px;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 150px;
}

.popular-collection-h3 {
  color: #3a3a3a;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.75rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.collection-cart-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 40px;
  padding-top: 0px ;
 
}

.cart {
  width: 329px;
  height: 476px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  
}

.cart:hover{
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.50);
  transition: .5s;
  
}

.cart-img {
  color: var(--Text-Gray-900, #18191f);
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 40px;
  display: block;
  margin: 0 auto;
  padding: 15px;
}

.cart-name {
  color: var(--Text-Gray-900, #18191f);
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  padding-left: 15px;
}

.cart-price {
  color: var(--Dark-Color, rgba(0, 0, 0, 0.87));
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 150%;
  padding-left: 15px;
}

.cart-rating {
  padding-left: 15px;
}

.cart-shift {
  color: var(--Gray-50, #787885);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0.252px;
  padding: 15px;
}
